/* Increase the width of code blocks */
.md-typeset pre code {
    white-space: pre-wrap; /* Allows code to wrap */
    word-wrap: break-word; /* Breaks long words if necessary */
    overflow-x: auto; /* Ensures that the block does not overflow */
}

/* Optional: Set a maximum width for the code block */
.md-typeset pre {
    max-width: 100%; /* Ensures the code block doesn't exceed the container width */
}

.md-nav__item {
    list-style-type: disc; /* Adds a bullet point */
}

.md-nav .md-nav__list > li > nav,
.md-nav .md-nav__list > li > ul {
    display: none;
}
